node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
/test-environment/test-reports/
/test-environment/test-assets/test-resource-files/canvas.png
.vs
.git
.env
loginState.json
package-lock.json
eng.traineddata